body{
    background-color: black;
    color: white;
    font-size: medium;
}

#centered {
    text-align: center;
}

button{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: medium;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: gray;
    color: black;
}