body{
    background-color: black;
    color: white;
    font-size: medium;
}

button{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: medium;
}

.centered-div{
    color: white;
    background-color: black;
}